<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>


    <context id="localhost_mysql" targetRuntime="MyBatis3">

        <!-- 不生成注解 -->
        <commentGenerator>
            <property name="suppressAllComments" value="true" />
        </commentGenerator>
        <!--此处数据库需要改为自己的-->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/miaosha"
                        userId="root"
                        password="123456">
        </jdbcConnection>

        <!-- 生成实体类 目录结构按照自己的需要 -->
        <javaModelGenerator targetPackage="com.miaoshaproject.dataobject" targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <!-- 生成XML Mapper 目录结构按照自己需要设置 -->
        <sqlMapGenerator targetPackage="mapping" targetProject="src/main/resources">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>

        <!-- 生成Mapper接口 -->
        <!-- 生成的Mapper类型：ANNOTATEDMAPPER（注解）、MIXEDMAPPER（混合）、XMLMAPPER（XML） -->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.miaoshaproject.dao"  targetProject="src/main/java">
            <!-- 是否将数据库中的schema作为包名的一部分，默认就是false -->
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>
        <!--数据库的表名-->
        <!--<table tableName="user_info" domainObjectName="UserDo" enableCountByExample="false"-->
        <!--enableUpdateByExample="false" enableDeleteByExample="false"-->
        <!--enableSelectByExample="false" selectByExampleQueryId="false">-->
        <!--</table>-->
        <!--<table tableName="user_password" domainObjectName="UserPasswordDo" enableCountByExample="false"-->
               <!--enableUpdateByExample="false" enableDeleteByExample="false"-->
               <!--enableSelectByExample="false" selectByExampleQueryId="false">-->
        <!--</table>-->

        <!--<table tableName="item" domainObjectName="ItemDo" enableCountByExample="false"-->
               <!--enableUpdateByExample="false" enableDeleteByExample="false"-->
               <!--enableSelectByExample="false" selectByExampleQueryId="false">-->
        <!--</table>-->
        <!--<table tableName="item_stock" domainObjectName="ItemStockDo" enableCountByExample="false"-->
               <!--enableUpdateByExample="false" enableDeleteByExample="false"-->
               <!--enableSelectByExample="false" selectByExampleQueryId="false">-->
        <!--</table>-->
        <!--<table tableName="order_info" domainObjectName="OrderDo" enableCountByExample="false"-->
               <!--enableUpdateByExample="false" enableDeleteByExample="false"-->
               <!--enableSelectByExample="false" selectByExampleQueryId="false">-->
        <!--</table>-->
        <!--<table tableName="sequence_info" domainObjectName="SequenceDo" enableCountByExample="false"-->
               <!--enableUpdateByExample="false" enableDeleteByExample="false"-->
               <!--enableSelectByExample="false" selectByExampleQueryId="false">-->
        <!--</table>-->
        <!--<table tableName="stock_log" domainObjectName="StockLogDo" enableCountByExample="false"-->
        <!--enableUpdateByExample="false" enableDeleteByExample="false"-->
        <!--enableSelectByExample="false" selectByExampleQueryId="false">-->
        <!--</table>-->



    </context>
</generatorConfiguration>